body{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}
img{
    margin-top: 10px;
}
h2{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    border-bottom: solid 1px white;
    padding-bottom: 5px;
}
.form-section {
    background: #eaeaea;
    padding: 20px 10px;
    border-radius: 15px;
    margin: 10px 0;
}
.btn-default {
    color: #fff;
    background-color: #1aa55a;
    border-color: #ccc;
    padding: 8px 25px;
    margin-left: 16px;
    margin-top: 23px;
    min-width: 150px 
}