@charset "utf-8";
/* CSS Document */

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .sorting-container a { color:#039245; }	

ul.tabs-vertical-frame li.current a, ul.tabs-vertical-frame li, .pr-tb-col:hover, .pr-tb-col.active .tb-content li, .pr-tb-col.active { border-color: #53C3EF; }
.border-title span, ul.tabs-vertical-frame li.current a, .button, .pr-tb-col .button, .demo-btn a.demo, .demo-btn a.purchase:hover, .border-title span, ul.tabs-vertical-frame li.current a, .pr-tb-col:hover, .pr-tb-col.active, .testimonial-wrapper .nav-numbers li.active a, .copyright, .mean-container .mean-nav, .mean-container a.meanmenu-reveal {  background:#1aa55a; *background:#1aa55a; background:#35aad8\0/; }

.copyright .social-media li a { background: #161616; border-radius: 50%; margin-right: 10px; }
.copyright .social-media li a:hover { background:#039245; }

#main-menu > ul > li:hover > a, #main-menu > ul > li.current_page_item > a  { color:#1aa55a; } 

.contact-info h4, .contact-info a, .support-info span.call, .portfolio-title h4 a, .demo-btn span, .border-title, .pr-tb-col:hover .buy-now .button, .pr-tb-col.active .buy-now .button, .tb-header .price, .sorting-container a:hover, .sorting-container a.active-sort, .tp-caption.custom_title2 { color:#039245; }


/*----*****---- << Header >> ----*****----*/
#header { 
	border-bottom:5px solid rgba(51,51,51,1);
	/* fallback/image non-cover color */
	background-color: #FFF; 
}

/*----*****---- << Button >> ----*****----*/		
.button { text-shadow:1px 1px 0px rgba(0, 0, 0, 0.4); color:#ffffff; border-left:1px solid #1aa55a; border-top:1px solid #1aa55a; }
.button:hover { background:#161616; border-left:1px solid #161616; border-top:1px solid #161616; }

.button.ico i:after { background: #161616; border-right: 1px solid #161616; }
.button.ico:hover i:after { background: #1aa55a; border-right: 1px solid #1aa55a; }

.demo-btn a { text-shadow:1px 1px 0px rgba(0, 0, 0, 0.4); }
.demo-btn a.demo { border-left:1px solid #1aa55a; border-top:1px solid #1aa55a; border-right:1px solid #1aa55a;  }
.demo-btn a.purchase { background:#161616; border-left:1px solid #161616; border-top:1px solid #161616; border-right:1px solid #161616; }

.demo-btn a.demo:hover { background:#161616; border-left:1px solid #1aa55a; }
.demo-btn a.purchase:hover { border-left:1px solid #1aa55a; border-top:1px solid #1aa55a; border-right:1px solid #161616;}

/*----*****---- << Main title >> ----*****----*/
.main-title { background: #1aa55a ; box-shadow:0 -7px 6px #025a2b inset; }

/*----*****---- << Services >> ----*****----*/
.service:hover [class^="icon-"], .service:hover h4 { color:#161616; }
.service:after{ border-right:5px solid #039245; }
.service { border-bottom:5px solid #039245; }

.pr-tb-col:hover .tb-content li, ul.tabs-vertical-frame li.current a, ul.tabs-vertical-frame li, .pr-tb-col.active .tb-content li{ border-color: #039245; }

/*----*****---- << Testimonial >> ----*****----*/

.testimonial-wrapper figure.testimonial-thumb > .item-mask { background:url(images/hexa-bg.png) center center no-repeat; }

/*----*****---- << Pricing Table >> ----*****----*/
.pr-tb-col:hover .tb-content li, .pr-tb-col.active .tb-content li { color:#fff; text-shadow:1px 1px 0px rgba(0, 0, 0, 0.4); }

.pr-tb-col:hover .buy-now .button, .pr-tb-col.active .buy-now .button { background:#ffffff !important; border-color:#dddddd; text-shadow:none; display:block; }
.pr-tb-col:hover:after, .pr-tb-col.active:after {  border:5px solid #039245; }

/*----*****---- << Portfolio >> ----*****----*/
.image-overlay { background:rgba(3, 146, 69, 0.8); background:#35aad8\0/; *background:#35aad8; }
.portfolio:hover .portfolio-detail { background:rgba(3, 146, 69, 0.8); background:#35aad8\0/; *background:#35aad8; }
.sorting-container a:hover, .sorting-container a.active-sort { border-bottom-color:#039245; }
.portfolio .image-overlay a span, .portfolio:hover .portfolio-detail .views { color: #039245; }
.portfolio:hover .image-overlay a span:hover { color:#161616; }

/*----*****---- << Contact >> ----*****----*/
.location h4.map-title { background:#039245; }

.request-pop{ display: none;}

.request-pop input[type="text"], .request-pop input[type="password"]{ border: 1px solid #039245;}
.padding-top{ padding-top: 10px;}

